@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

html {
    font-size: 62.5%;
    /*! 1rem = 10px;*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary: white;
    --secondary: #000;

}

.flex {
    display: flex;
}
.flex-1{
    flex: 1;
}

.justify-C {
    justify-content: center;
}
.justify-SE {
    justify-content: space-evenly;
}
.justify-SB {
    justify-content: space-between;
}

.align-C {
    align-items: center;
}
/*////////////      FOOTER CSS      START       \\\\\\\\\\\\*/
.footer_main{
    gap: 2rem;
}
section.footer{
    background-color: #696969;
}
section.footer .right{
    width: 50vw;

}
section.footer {
    text-transform: uppercase;
    text-align: center;
    color: var(--primary);
    font-size: 3rem;
}
section.footer .right .text h1,a{
    color: var(--primary);
    transition: all 0.2s ease;
}
section.footer .right .text h1,a:hover{
    color: var(--secondary);
    transition: all 0.3s ease;
}

section.footer .left{
    width: 50vw;
    height: 30vh;
    font-size:21px;
    line-height:32px;
    font-weight:100;
    
}
section.footer .left .text{
    flex-direction: column;
}
section.footer .left .text a{
  
    text-decoration: none;
}

section.footer .right{
    flex-direction: column;
    position: relative;
    text-align: left;
   
}
section.footer .right .controls {
    padding-bottom: 2px;
    /* height: 8rem; */
    margin-left: 24rem;
    width: 50%;
}
section.footer .right .controls ::placeholder{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2rem;
}
section.footer .right .controls label{
    color: #ddd;
    font-size:18px;
    line-height:24px;
    font-weight:100;
    text-transform:uppercase;
    
}
section.footer .right .form-control {
    background:transparent !important;
    border:none;
    border-bottom:3px solid transparent;
    border:1px solid #ddd;
    border-radius:6px;
    outline:none;
    box-shadow:none;
    height:56px;
    width: 100%;
    font-size:21px;
    line-height:32px;
    font-weight:100;
    /* padding-left:50rem; */
    -webkit-transition:border-color .3s ease-out;
    transition:border-color .3s ease-out;
}
section.footer .right .form-control:hover{
    border:1px solid rebeccapurple;
    transition: all 0.2s ease;
}
/* section.footer .right .form-group{

    position:relative;
    width: 35rem;
} */
section.footer .right .controls fa-envelope {
    color: #ddd;
}
section.footer .right textarea.form-control {
    resize: none;
    height:auto;
    max-width:100%;
    min-width:100%;
    font-size:21px;
    line-height:32px;
    padding-top:10px;
    border:1px solid #ddd;
    border-radius:6px;
}
section.footer .right .error-message {
    /* padding:5px 0; */
    position:absolute;
    top:-30px;
    /* right:0; */
    font-size:14px;
    font-weight:300;
    color:#ff0000;
    z-index:10;
}
